---
import type { CollectionEntry } from 'astro:content';
import type { Lang } from '../i18n/config';
import { useT } from '../i18n/ui';
import { formatBaht } from '../lib/images';

interface Props {
  tour: CollectionEntry<'tours'>;
  lang: Lang;
}
const { tour, lang } = Astro.props;
const t = useT(lang);
---

<div class="sbar">
  <div class="sbar__price">
    <span class="lbl">{t('common.from')}</span>
    <span class="amt">{formatBaht(tour.data.priceFrom)}</span>
  </div>
  <a class="btn-gold" href="#bookingBox">{t('common.bookNow')}</a>
</div>
